@font-face {
    font-family: 'introrustg';
    src: url('fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('fonts/introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sidebar-width: 356px;
}

body {
    background-color: rgb(237,233,232);
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: introrustg, sans-serif;
    font-size: 40px;
    color: white;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    width: auto;
    height: 100vh;
}

label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}
#image-and-logo {
    display: flex;
    background-image: url('images/desert.jpg');
    /* background-attachment: fixed; */
    /* cover is the behavior I want, but I want the image to be proportioned correctly*/
    background-size: cover;
    background-repeat: no-repeat;
    width: var(--sidebar-width);
    height: max(100vh, 538px);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.5);
    width: var(--sidebar-width);
    height: 100px;
    margin-top: 100px;
}

#odin {
    width: auto;
    height: 75px;
}

@media screen and (max-width:800px) {
    body {
        flex-direction: column;
    }

    #image-and-logo {
        width: 100vw;
        height: 100px;
        align-items: center;
        justify-content:center;
    }

    #logo {
        margin: 0;
        width: 75vw;
    }
}

#main-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    min-width: 250px; 
}

.bookend {
    flex-grow: 0;
    padding: 30px 20px;
    /* min-width: 250px;  */
}

#header {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 5px 5px 0px rgb(0,0,0,0.2);
    padding: 0 20px; 
    height: 250px;
}

form {
    display: flex;
    /* justify-content: space-between; */
}

.formcol {
    margin-top: 10px;
    gap: 5px;
    flex: 1;
}

.formcol > input {
    display: block;
    margin-bottom: 10px;
    width: 25vw;
    min-width: 30ch;
}